# OpenAI API key
OPENAI_API_KEY=

# Gemini API key
GEMINI_API_KEY=

# UPSTAGE API key
UPSTAGE_API_KEY=

# API keys for krestra
SECRET_GEMINI_API_KEY=
SECRET_TAVILY_API_KEY=
SECRET_OPENAI_API_KEY=

    
# ================================================================================
# embedding model
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_MODEL=text-embedding-3-small

# upstage embedding model
UPSTAGE_EMBEDDING_MODEL=solar-embedding-2-query


# ===============================================================================
# LLM model
OPENAI_LLM_MODEL=gpt-4o-mini
GEMINI_LLM_MODEL=gemini-2.5-flash
# upstage LLM model
UPSTAGE_LLM_MODEL=solar-pro3


# ===============================================================================
# Reranking model
RERANKING_MODEL=text-embedding-3-large


# ===============================================================================
OPENAI_URL=https://api.openai.com/v1
# upstage API url
UPSTAGE_API_URL=https://api.upstage.ai/v1/solar


# ===============================================================================
# Qdrant configuration
QDRANT_URL=http://localhost:6333
EMBEDDING_DIM=1536

LOCAL_EMBEDDING_MODEL=BAAI/bge-base-en-v1.5
LOCAL_EMBEDDING_MODEL_CACHE_DIR=models/

CHROMADB_DIR=chroma_db/

